@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme{
  --font-DKG: "Darker Grotesque", sans-serif;
  --font-ROB: "Roboto", sans-serif;
  --color-praimary:#000000;
  --color-secendary:#888888;
}